.bg-green-50 {
  background-color: hsl(120, 50%, 5%);
}
.bg-green-600 {
  background-color: hsl(120, 50%, 60%);
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}