.apple-mobile-web-app-title {
  padding-top: NaNrem;
  padding-left: NaNrem;
  padding-right: NaNrem;
  padding-bottom: NaNrem;
}
.p-3 {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}
.max-w-96 {
  width: 24rem;
}
.bg-green-50 {
  background-color: hsl(120, 50%, 5%);
}
.p-2 {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.bg-green-600 {
  background-color: hsl(120, 50%, 60%);
}
.hover\:bg-green-800:hover {
  background-color: hsl(120, 50%, 80%);
}
.p-2 {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}
.text-green-600 {
  color: hsl(120, 50%, 60%);
}
.max-w-96 {
  width: 24rem;
}
.p-2 {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-2 {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}